* {
	-moz-box-sizing: border-box !important;
	-webkit-box-sizing: border-box !important;
	box-sizing: border-box !important;
}

:root {
	padding: 1rem;
	margin: 0 auto;
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	width: 100%;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}

a:hover {
	color: #535bf2;
}

select {
	padding: 5px;
	margin: 5px;
	border-width: 1px;
	border-radius: 5px;
	border-style: transparent;
	border-color: black;
}

input {
	padding: 5px;
	margin: 5px;
	border-width: 1px;
	border-radius: 5px;
	border-style: transparent;
	border-color: black;
}

body {
	margin: 0 auto;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
	padding: 10px;
	width: 100%;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

button:hover {
	border-color: #646cff;
}

button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

.space-between-flex {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 3px;
	width: 100%;
}

.book-info-card {
	border-radius: 20px;
	padding: 20px 5px 20px 5px !important;
	margin: 5px;
	display: block;
	flex-direction: column;
	text-align: center;
	align-items: center;
	justify-content: space-between;
	width: 20vw;
	min-height: 70vh;
	background-color: transparent;
}

.book-info-card-small {
	border-radius: 20px;
	padding: 5px 5px 5px 5px !important;
	margin: 5px;
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
	width: 20vw;
	min-height: 12vh;
	max-height: 12vh;
	/* background-color: #f2e9e4; */
	background-color: transparent;
	border-color: black;
	border-width: 0.1px;
	border-style: solid;
	/* word-break: break-all; */
	overflow: hidden;
	overflow-y: visible;

	p {
		margin: 0px 0px 0px 10px;
	}

	img {
		border-radius: 5px;
	}
}

.book-form {
	width: 15vw;

	label {
		display: flex;
		justify-content: space-between;
		align-items: center;

		input {
			width: 70%;
		}

		select {
			width: 70%;
		}
	}
}

.title-with-icon {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

button.title-with-icon {
	margin: 0 5px 0 5px;
	border-radius: 10px;
	padding: 0px 5px 0px 5px;
	width: fit-content;
}

label.title-with-icon.button {
	margin: 0 5px 0 5px;
	border-radius: 10px;
	width: fit-content;
}

label.title-with-icon {
	margin: 0 5px 0 5px;
	border-style: none;
	border-radius: 10px;
}

.add-color {
	color: #2ecc71;
}

.delete-color {
	color: #e74c3c;
}

.edit-color {
	color: #f39c12;
}

.dropdown {
	display: flex;
	flex-direction: row;
	flex-flow: row;
	flex-wrap: wrap;
}

img {
	border-radius: 20px;
}

.book-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	margin-top: 5vh;
}

@media (max-width: 700px) {
	.book-info-card {
		width: 90vw;
		min-height: 40vh;
	}

	.book-info-card-small {
		width: 90vw;
	}

	.book-form {
		width: 95vw;
	}

	form.title-with-icon {
		flex-direction: column;
		align-items: start;
	}

}


@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}

	a:hover {
		color: #747bff;
	}

	button {
		background-color: #f9f9f9;
	}
}